<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/order.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(orders.length> 0){ %>
                    <ul class="list-order">
                        <% orders.forEach(order=>{ %>
                            <h1>Order <%= order._id %>:</h1>
                            <li class="list-item">
                                <ul class="list">
                                    <% order.items.forEach(p=>{ %>
                                        <li class="list-item">
                                            <% if(p.productId.imageUrl){ %>
                                                <img class="itemImage" src="<%= p.productId.imageUrl %>" />
                                                <% } else{ %>
                                                    <h1>No image!</h1>
                                                    <% } %>
                                                        <h1>
                                                            <%= p.productId.title %>
                                                        </h1>
                                                        <h2>Quantity: <%= p.quantity %>
                                                        </h2>
                                                        <h2>Unit price: <%= p.productId.price %>
                                                        </h2>
                                                        <h2>Total price: <%= p.productId.price * p.quantity %>
                                                        </h2>
                                                        <form action="/delete-order-item" method="POST">
                                                            <input type="hidden" value="<%= p.productId._id %>"
                                                                name="productId" id="productId" />
                                                            <button type="submit" class="btn danger">Remove</button>
                                                        </form>
                                        </li>
                                        <% }) %>
                                </ul>
                            </li>
                            <% }) %>
                    </ul>
                    <div class="centered buy">
                        <form action="/checkout" method="POST">
                            <button class="btn success" type="submit">Buy!</button>
                        </form>
                    </div>
                    <% } else{ %>
                        <h1>Nothing there!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>