<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <main>
            <form action="/login" method="POST" novalidate>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="centered">
                    <div>
                        <h1>Login to access the shop</h1>
                    </div>
                    <div class="data">
                        <div class="inputs">
                            <div class="username">
                                <input class="<%= errors.find(e=>e.param == 'email') ? 'invalid' : '' %>" type="text" id="email" name="email" placeholder="email" value="<%= input.email %>"/>
                            </div>
                            <div class="pass">
                                <input class="<%= errors.find(e=>e.param == 'pass') ? 'invalid' : '' %>" type="password" id="pass" name="pass" placeholder="password" value="<%= input.password %>"/>
                            </div>
                        </div>
                        <% if(message) {%>
                        <div>
                            <label class="error">
                                <%= message %>
                            </label>
                        </div>
                        <% } %>
                        <div class="buttons">
                            <button type="submit">Enter</button>
                            <button><a href="/register">New account</a></button>
                            <button><a href="/recover">recover pass</a></button>
                        </div>
                    </div>
                </div>
            </form>
        </main>

<%- include('../includes/end.ejs') %>